/.phpstan.neon.dist export-ignore
/.php-cs-fixer.php export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/assets export-ignore
/updates export-ignore
/.vs-mock-builder.php export-ignore
/make.sh export-ignore
/make_to1251.sh export-ignore
/makeX.sh export-ignore
