/info/
/src/
*.tar.gz
.directory
.last_version
/updates/*/*
!/updates/*/descr*
!/updates/*/updater*.php
!/updates/*/version-control.txt
.idea
/.vs-mock-builder.local.php
/bx/
/var/
.mock-builder-cache
test.php
reports
.phpunit.result.cache